textarea{
    width: 355px;
    height: 170px;
    max-width: 355px;
    max-height: 170px;
    min-width: 355px;
    min-height: 170px;
    box-sizing: border-box;
    padding: 10px;
    margin: 5PX 0;
    border-radius: 6px;
    border-color: #c9cdd4;
    color: #1d2129;
    outline: none;
}